@import url("/css/style.css");

/* Theme Brand Color and Image Overrides */ 
body {
    background-color:#ccc!important;
}
.header {
    background: #666 !important;
}
.footer {
    background-color: #666 !important;
}
.value-quote .fa {
    color: #4FAF00!important; /* hp green - overrides dashboard.css */
}
.value-quote .value-text h4 {
    color: #4FAF00!important; /* hp green - overrides dashboard.css */
}
/* cta buttons in HP orange */
.btn-cta {
    color: #fff!important;
    background-color: #EB5F01!important;
    border: solid 1px #e05a00!important;
    border-color: #e05a00!important;
}
.btn-cta:hover, .btn-cta:focus {
    color: #fff!important;
    background-color: #d05300!important;
    border-color: #ca5000!important;
}
.new-quate-btn .fa {
    border-left:solid #e05a00 1px;
}
.cont-theme {
    background:#ccc!important; /* HP Light grey */
}
.dashboard, .mainDiv {
    background-image:url(/images/mt-fuji-sunset.jpg)!important;
}

.dashboard {
    background-color:#ccc!important;
    background-size: cover!important;
}
#navbar-topnav .navbar-nav > li > a:hover, #navbar-topnav .navbar-nav > li > a:focus {
    background-color:#999!important;
}
.page-title {
    background: #0097d7!important; /* Blue from hp logo */
}
section .progressbar li.active1 {
    color: #4FAF00;
}
section .progressbar li.active1:before {
    border-color: #4FAF00;
}
.device-section h2.title {
    color: #333;
    font-size: 24px;
}
.table-quotelist thead tr th, .table-notes thead tr th  {
    background: #0097d7;
    color: #fff;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #0097d7;
    border-color: #0097d7;
}
#first-table>table>tbody>tr>td.theme,#second-table>table>thead>tr>th {
    background: #0097d7;
}
.modal-success .modal-header {
    background-color: #0097d7 !important;
    border-bottom: 1px solid #0097d7;
}
.productIdTrue.Financial > table > thead > tr {
    background-color:#0097d7!important;
}