@import url('https://fonts.googleapis.com/css?family=Montserrat');

.login-page {
    background: #f1f4f5;
}

/* header
-------------------------------------------------- */
.header {
    height: 110px;
    background: #01518e;
    width: 100%;
}

.login-logo {
    text-align: center;
    width: 217px;
    margin: 35px auto;
}

.header-logo {
    text-align: left;
    width: 100%;
    display: table;
    height: 60px;
    margin: 0px auto;
    border-bottom: 1px solid #014280;
}

.logo {
    text-align: left;
    width: 217px;
    display: table-cell;
    vertical-align: middle;
}

/* header
-------------------------------------------------- */

.form-signin {
    max-width: 615px;
    padding: 15px;
    margin: 30px auto;
}

    .form-signin .form-signin-heading {
        margin-bottom: 10px;
    }

    .form-signin .form-control {
        position: relative;
        height: auto;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 10px;
        font-size: 16px;
        height: 60px;
    }

        .form-signin .form-control:focus {
            z-index: 2;
        }

    .form-signin .form-group {
        margin-bottom: 40px;
    }

    .form-signin .btn-login {
        width: 100%;
        height: 60px;
        background: #5fb4e5;
        font-size: 24px;
        color: #ffffff;
        font-weight: 600;
    }

        .form-signin .btn-login:focus,
        .form-signin .btn-login:hover {
            background: #01518e;
        }

.login-title-heading {
    text-align: center;
    font-size: 36px;
    color: #01518e;
    font-weight: 600;
    font-family: Raleway;
    margin-bottom: 55px;
}

/* Sticky footer styles
-------------------------------------------------- */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #56bdf1;
}

    .footer .copyright {
        color: #fff;
        font-size: 14px;
        padding: 20px 0px;
    }

    .footer .footer-link ul {
        list-style: none;
        padding: 0px;
        margin: 0px;
        padding: 20px 0px;
    }

        .footer .footer-link ul li {
            float: left;
            padding: 0px 7px;
            position: relative;
        }

            .footer .footer-link ul li::before {
                content: "|";
                font-size: 15px;
                color: #ffffff;
                position: absolute;
                right: -2px;
            }

            .footer .footer-link ul li:last-child {
                padding-right: 0px;
            }

            .footer .footer-link ul li:first-child {
                padding-left: 0px;
            }

            .footer .footer-link ul li:last-child::before {
                display: none;
            }

            .footer .footer-link ul li a {
                font-size: 14px;
                color: #ffffff;
            }

                .footer .footer-link ul li a:hover {
                    color: #01518e;
                    text-decoration: none;
                }

.no-pad {
    padding: 0px !important;
}

.page-title {
    background: #56bdf1;
    width: 100%;
    height: 60px;
}

.page-heading-left {
    color: #ffffff;
    font-size: 24px;
    font-weight: 300;
    border-bottom: 3px solid #01518e;
    padding-top: 23px;
    display: inline-block;
}

.page-heading-center {
    color: #ffffff;
    font-size: 24px;
    font-weight: 600;
    padding-top: 25px;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.search-bar {
    background: #f1f4f5;
    width: 100%;
    padding: 75px 0px;
}

.search-label {
    color: #767676;
    font-size: 24px;
    font-weight: 600;
}

.search-input {
    background: url(../images/search-icon.jpg) 98% center no-repeat #ffffff;
    font-size: 18px;
    padding: 0px 20px;
    width: 618px;
    height: 60px;
    border: 1px solid #c5c4c4;
    color: #c5c4c4;
    border-radius: 4px;
    margin-left: 20px;
}

.device-section h2.title {
    color: #56bdf1;
    font-size: 24px;
}

.row-one .box-1 {
    width: 178px;
    height: 178px;
    border: 1px solid #c5c4c4;
    position: relative;
    background: #ffffff;
    float: left;
    margin-right: 21px;
}

    .row-one .box-1 .brand-logo {
        width: 100%;
    }

    .row-one .box-1:hover {
        border: 1px solid #56bdf1;
        position: relative;
        background: #f5f5f5;
        cursor: pointer;
    }

    .row-one .box-1:last-child {
        margin-right: 0;
    }

.row-one {
    margin: 0px 0px 30px 0px;
    float: left;
    width: 100%;
}

.selected-box {
    width: 178px;
    height: 178px;
    border: 1px solid #c5c4c4;
    position: relative;
    background: #ffffff;
    margin: 0px auto;
}

.brand-img {
    padding: 30px 20px;
    width: 100%;
    text-align: center;
}

.brand-title {
    text-align: center;
    color: #767676;
    font-size: 16px;
    margin: 10px 0px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
}

.final-selections .selected-box h3 {
    color: #45474d;
    font-size: 24px;
    font-weight: normal;
}

.final-selections .selected-box {
    width: 154px;
    height: 154px;
    border: 1px solid #c5c4c4;
    position: relative;
    background: #ffffff;
    margin: 0px;
    float: left;
    margin-right: 10px;
}

    .final-selections .selected-box:last-child {
        margin-right: 0px;
    }

.checked {
    position: absolute;
    right: 0px;
    top: 0px;
}

.checkout-box {
    width: 100%;
    margin: 20px auto;
    text-align: right;
}

    .checkout-box .refrence-text {
        width: 100%;
        margin: 5px auto;
        padding: 5px;
        font-size: 12px;
    }

    .checkout-box .price-label {
        font-size: 20px;
        display: inline;
    }

    .checkout-box .final-price {
        font-size: 24px;
        display: inline;
        padding-left: 20px;
        font-weight: bold;
        color: #ff0000;
    }

    .checkout-box .btn-checkout {
        width: 100%;
        margin: 0px auto;
        background: #56bdf1;
        color: #ffffff;
        text-transform: uppercase;
        font-size: 28px;
    }

.number-quates {
    width: 100%;
    background: #ffffff;
    height: 150px;
    border: 1px solid #e9eaed;
    padding: 10px;
}

    .number-quates .fa {
        color: #e9573f;
        font-size: 60px;
    }

    .number-quates .icon {
        text-align: center;
        margin: 0px;
        float: left;
    }

    .number-quates h3 {
        font-weight: 300;
        font-size: 24px;
        text-align: left;
        margin: 0px;
        text-transform: capitalize;
        color: #999999;
        margin-bottom: 15px;
        margin-top: 15px;
    }

    .number-quates .value-text {
        float: left;
        padding-left: 10px;
    }

        .number-quates .value-text h4 {
            font-size: 40px;
            margin: 0px;
            color: #e9573f;

        }

        .number-quates .value-text span {
            font-size: 12px;
            color: #d5d5d5;
        }

.value-quote {
    width: 100%;
    background: #ffffff;
    height: 150px;
    border: 1px solid #e9eaed;
    padding: 10px;
}

    .value-quote .fa {
        color: #8cc152;
        font-size: 60px;
    }

    .value-quote .icon {
        text-align: center;
        margin: 0px;
        float: left;
    }

    .value-quote h3 {
        font-weight: 300;
        font-size: 24px;
        text-align: left;
        margin: 0px;
        text-transform: capitalize;
        color: #999999;
        margin-bottom: 15px;
        margin-top: 15px;
    }

    .value-quote .value-text {
        float: left;
        padding-left: 10px;
    }

        .value-quote .value-text h4 {
            font-size: 40px;
            margin: 0px;
            color: #8cc152;
            font-family: 'Montserrat', sans-serif;
        }

        .value-quote .value-text span {
            font-size: 12px;
            color: #d5d5d5;
            font-family: 'Montserrat', sans-serif;
        }

.new-quate-btn .fa {
    border-left: 1px solid #d5d5d5;
    padding: 10px;
    float: right;
}

.new-quate-btn {
    margin-bottom: 15px;
    float: right;
    padding: 0px;
    min-width: 200px;
    line-height: 40px;
    font-size: 20px;
}

.pickup-request-btn {
    margin-bottom: 15px;
    float: right;
    padding: 0px;
    min-width: 200px;
    line-height: 40px;
    font-size: 20px;
}

    .pickup-request-btn:hover {
        background: #426ca9;
        color: #ffffff;
    }

.new-quate-btn:hover {
    background: #426ca9;
    color: #ffffff;
}
.two-col-layout-dashboard {
    margin-top: 30px;
    overflow: hidden;
}

    .two-col-layout-dashboard .panel-heading {
        font-weight: 300;
        font-size: 24px;
        text-align: center;
        text-transform: capitalize;
        color: #999999;
    }

.client-panel, .recent-quoate {
    margin-bottom: 30px;
}

.profile-panel .table {
    margin-bottom: 0px;
}

    .profile-panel .table td {
        border: none !important;
        padding: 0px 0px;
    }

        .profile-panel .table td .edit-btn {
            margin-top: 10px;
        }

.dashboard {
    background: #f1f4f5;
    background: #000 url(/images/balloon-1373161_1920_2.jpg) no-repeat center top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    padding: 60px 0 0;
}

    .dashboard .panel {
        margin-bottom: 15px;
    }
    .dashboard .row-panels {
        margin-bottom:45px;
    }
.cont-theme {
    background: #efefef;
    padding-top: 45px;
}

@-moz-document url-prefix() {
    .fa-plus {
        float: none !important;
        margin-right: -35px;
    }
}
/*.panel-body{
        height: 300px;
        overflow-y: scroll;
    } */
.number-quates, .value-quote {
    height: auto;
    border: none;
    padding: 15px;
}

.panel-title {
    color: #999;
}

.two-col-layout-dashboard {
    margin-top: 0;
}

    .two-col-layout-dashboard .panel-heading {
        font-weight: 500;
        margin-top: 0;
        margin-bottom: 0;
        font-size: 16px;
        text-align: left;
        text-transform: none;
    }

.table > thead > tr > th, .table > tbody > tr > th {
    font-weight: 500;
}

.client-panel .table-condensed > tbody > tr:first-child > td {
    border-top: none;
}

label {
    font-weight: 500;
}

.new-quate-btn {
    float: none;
}

@media (min-width:420px) {
    .btn-colreq {
        float: right;
    }

    .new-quate-btn {
        float: right;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .btn-colreq {
        float: none;
    }
}

.row-one .box-1 {
    width: 173px;
    margin-bottom: 20px !important;
}



