body {
    background: #fff;
}

.btn-danger {
    color: #fff;
    background-color: red !important;
    border-color: red !important;
}

    .btn-danger:hover {
        color: #fff;
        background-color: #c91f1f !important;
        border-color: #c91f1f !important;
    }

.aButton {
    /*padding-left: 50px !important;
        padding-right: 50px !important;
*/ background-color: #56bdf1 !important;
    border-radius: 0px;
    border-color: #56bdf1 !important;
}

    .aButton:hover {
        background-color: white !important;
        border-radius: 0px !important;
        border-color: #56bdf1 !important;
        color: #56bdf1 !important;
    }



.iconclass {
    color: #fff;
    background-color: #56bdf1;
    border-color: #56bdf1;
    border-radius: 0px;
    color: white;
}

    .iconclass:hover {
        background-color: #3273a4;
        border: 1px solid #3273a4;
        color: white;
    }
/*.AcceptButton{
        background-color: #56bdf1;
        border:1px solid #56bdf1;
        padding: 5px 0px;
        color: #fff;
        border-radius: 0px;
        margin-bottom: 2px;
    }
    .AcceptButton:hover{
        background-color: white;
        border:1px solid #56bdf1;
        padding: 5px 0px;
        color:#56bdf1;
        border-radius: 0px;
    }*/
/*.cancel{
        background-color: red;
        border-radius: 0px;
        color: #fff;
        border:1px solid red;
    }
    .cancel:hover{
        background-color: white;
        border-radius: 0px;
        color: red;
        border:1px solid red;
    }*/
. /*edit{
        background-color: #56bdf1;
        border:1px solid #56bdf1;
        padding: 6px 0px !important;
        color: white !important;
        border-radius: 0px;
    }
    .edit:hover{
        background-color: white;
        border:1px solid #56bdf1;
        padding: 6px 0px !important;
        color:#56bdf1 !important;
    }*/
.Download {
    border-radius: 0px;
    background-color: #56bdf1 !important;
    border: 1px solid #56bdf1;
    padding: 6px 0px !important;
    color: #fff !important;
}

.Download:hover {
    background-color: white !important;
    border: 1px solid #56bdf1;
    color: #56bdf1 !important;
}
/*.canceled{
        width: 100%;
        background-color: red;
        border-radius: 0px;
        border:1px solid red;
        padding: 5px 0px;
        color: #fff;
    }
    .canceled:hover{
      
        background-color:white;
        border-radius: 0px;
        border:1px solid red;
        padding: 5px 0px;
        color: red;
    }*/

#loadingDiv {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    background-color: #666;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 10000000;
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #00B1E1;
    border-right: 16px solid #fff;
    border-bottom: 16px solid #00B1E1;
    width: 66px;
    height: 66px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin-left: auto;
    margin-right: auto;
    margin-top: 250px;
}



@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.footer {
    position: absolute;
}

.quanitity {
    border: none;
    background: transparent;
}

.quantityUpdate {
    background-color: #56bdf1;
    border: 1px solid #56bdf1;
    color: #fff;
    border-radius: 0px;
}

    .quantityUpdate:hover {
        background-color: white;
        border: 1px solid #56bdf1;
        color: #56bdf1;
    }

    .quantityUpdate:active:hover {
        background-color: white;
        border: 1px solid #56bdf1;
        color: #56bdf1;
    }

.input-quantity {
    cursor: pointer;
}
