    .{
        width: 125px;
        height: 125px;
        
    }
    @media (min-width: 1200px){
        .col-lg-2 {
        width: 13.9%;
       
        }
    }
    .next{
        border:1px solid #56bdf1;
       
        color: #fff;
        margin-right: 25px;
    }
    .next:hover{
        border:1px #56bdf1 solid;
        color:#56bdf1 !important;
        background:white !important;
    }
    #soflow::after{
        content: '';
        border-left: 1px solid black;
    }
    select#soflow,select#soflow-color {
        text-align-last:center; 
        -webkit-appearance: button;
        -webkit-border-radius: 2px;
        -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
        -webkit-padding-end: 20px;
        -webkit-padding-start: 2px;
        -webkit-user-select: none;
        background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
        background-position: 97% center;
        background-repeat: no-repeat;
        /* border: 1px solid #AAA; */
        font-size: inherit;
        overflow: hidden;
        /* padding: 12px 0px; */
        /* text-overflow: ellipsis; */
        /* white-space: nowrap; */
        width: 100%;
        text-align: center;
    }
    .form-control{
        border-radius: 0px;
    }
    select#soflow-color {
         color: #fff;
    background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#56bdf1, #56bdf1 100%, #779126);
    background-color: #56bdf1;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 0px;
    padding-left: 8px;
    }

    .row-one .box-1:hover{
        color: white !important;
    }

    .fordefect:hover{
        color: #000 !important;
    }
    .hover:hover{
        background: none !important;
       
    }
    .a::before,
    .a::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        border-color: transparent;
       /* border-style: solid;*/
        border-right-style: solid;
        border-bottom-style: solid;
        border-left-style: solid;
    }

    .a::before {
        border-width: 1.5em;
        border-right-color: #ccc;
        border-top-color: #ccc;
    }

    .a::after {
        border-radius: 0.4em;
        border-width: 1.35em;
        /*border-right-color: #0c0;
        border-top-color: #0c0;*/
    }
    .not::before {
        border-width:0px;
        border-right-color:none;
        border-top-color: none;
    }

    .not::after {
        border-radius: 0px !important;
        border-width: 0px !important;

    }
    .not.activeClass{
        background: #FFC3CE !important;
        color: white !important;
        border: 2px solid #56bdf1 !important
    }
    .not.activeClass >.Processors{
        color: white !important;
    }
    .not.activeClass .waringblock{
        display: block !important;
     }
    .not .waringblock{
        display: none !important;
     }

    .not.activeClass .waringblock2{
        display: block !important;
     }
    .not .waringblock2{
        display: none !important;
     }
     .activeClass .Processors {
    color: #45ac8b !important;
}
    #modal-bootstrap-question #modal-header:before {
        display: block;
        position: absolute;
        top: -1px;
        left: -1px;
        right: -1px;
        bottom: -1px;
        content: "";
        border:none !important;
    }
    #modal-content{
        background:#f1f4f5;
        border-radius:15px;
        border: 3px solid gray !important;
    }
    #modal-header {
        padding: 0px;
        border-bottom: none;
    }
    .fa-times-circle{
        color:#56bdf1;
        font-size:40px;
    }
    .close {

        filter: alpha(opacity=50);
        opacity: .5;
    }
    .activeClass .checked .url_img
    {
        display:block !important;
    }
    .fa-question-circle{
        clear: both;
        float: right;
        margin-right: 4px;
    }
    .box-1{
        position: relative;
    }
    .next{
        border-color: #56bdf1;
        margin-right: 25px;
        border-radius: 0px !important;
    }
    .next_disabled,.next_disabled:hover{
        background: white !important;
        color: lightgray !important;
        cursor: not-allowed;
        border:1px solid lightgray;
        border-radius: 0px !important;
    }
    /*
    .brand-title{
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis; 
    }
    */
    .warninig-title {
    text-align: center;
    color: #fff;
    font-size: 16px;
    margin: 0px 0px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
  
}
.warningmargin{
    margin-top: 0px;
    margin-left: 6px;
}
