	table{
		border: 0px solid red !important;
	 	background-color: black;
	 }
	 td{
	 	background-color: white;
	 }
	 th{
	 	background-color: white;
	 }

.img-logo {
    verticle-align: middle;
    border: none;
    margin-bottom: 10px;
}
, page-title {
    background-color: #56bdf1;
    margin-bottom: 20px;
}

.footer {
    margin-1top: 20px;
    text-align: right;
}

.footer2 {
    border: 0px solid black;
    text-align: center;
    padding: 2px 2px;
}