.row-one .box-1 {
    width: 173px;
    margin-bottom: 20px !important;
}

.form-control {
    border-radius: 0px;
}

.control-label {
    color: #767676;
    font-size: 15px;
    font-weight: 600;
}

.panel-title {
    color: #767676;
    font-size: 21px;
    font-weight: 600;
}

.btn-color {
    background-color: #56bdf1 !important;
    border: solid 1px #56bdf1;
    border-radius: 0px;
}

    .btn-color:hover {
        background-color: white !important;
        border: solid 1px #56bdf1;
        border-radius: 0px;
        color: #56bdf1;
    }

.reset {
    border-radius: 0px;
}

    .reset:hover {
        background-color: white !important;
        border: solid 1px #d9534f;
        border-radius: 0px;
        color: #d9534f;
    }

body {
    background-color: #f1f4f5;
}

.form-control:focus {
    border: 1px solid #66afe9 !important;
}

.bg-warning {
    background-color: #00B1E1 !important;
    border: 1px solid #00B1E1 !important;
}

input.no-border-right:focus, textarea.no-border-right:focus {
    border: 1px solid #66afe9 !important;
}

.pass-graybar {
    height: 3px;
    background-color: red;
    width: 100%;
    position: relative;
}

.pass-colorbar {
    height: 3px;
    background-image: url(passwordstrength.jpg);
    position: absolute;
    background-color: green;
    top: 0;
    left: 0;
}

.pass-percent, .pass-text {
    font-size: 1em;
}

.pass-percent {
    margin-right: 5px;
}

/*==========================Loader==================*/
#loadingDiv {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    background-color: #666;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 10000000;
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #00B1E1;
    border-right: 16px solid #fff;
    border-bottom: 16px solid #00B1E1;
    width: 66px;
    height: 66px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin-left: auto;
    margin-right: auto;
    margin-top: 250px;
}



@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.form-control {
    border-radius: 0px;
}

.sol-inner-container {
    border-radius: 0px !important;
}

.control-label {
    color: #767676;
    font-size: 15px;
    font-weight: 600;
}

.btn-color {
    background-color: #56bdf1 !important;
    border: solid 1px #56bdf1;
    border-radius: 0px;
}

    .btn-color:hover {
        background-color: white !important;
        border: solid 1px #56bdf1;
        border-radius: 0px;
        color: #56bdf1;
    }

.reset {
    border-radius: 0px;
}

    .reset:hover {
        background-color: white !important;
        border: solid 1px #d9534f;
        border-radius: 0px;
        color: #d9534f;
    }

.panel-title {
    color: #767676;
    font-size: 21px;
    font-weight: 600;
}
