html {
    background: url(/images/balloon-1373161_1920.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    min-height: 100%;
}

body.login-page {
    font-family: 'Raleway', sans-serif;
    background: none !important;
    margin-bottom: 60px;
}

#login-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.1);
}

.login-page .login-logo {
    text-align: center;
    width: auto;
    margin: 20px auto 35px;
}

.login-page header.header {
    background: none !important;
}

.login-page .login-container {
    padding: 0 !important;
}

.login-page .login-title-heading {
    color: #fff !important;
    margin-top: 40px !important;
    margin-bottom: 35px !important;
}

.form-control[type="email"], .form-control[type="password"] {
    background: rgba(255,255,255,.7);
    border: none;
}

.form-signin {
    max-width: 500px;
}

    .form-signin.login-form .col-sm-offset-4 {
        margin-left: 0;
        width: auto;
    }

    .form-signin .form-control {
        font-size: 19px;
    }

    .form-signin .form-group {
        margin-bottom: 20px;
    }

    .form-signin .form-control::-webkit-input-placeholder {
        color: #555;
    }

    .form-signin .form-control::-moz-placeholder {
        color: #555;
    }

    .form-signin .form-control:-ms-input-placeholder {
        color: #555;
    }

    .form-signin .form-control:-moz-placeholder {
        color: #555;
    }

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 3px solid #eee;
}

.login-page .footer {
    display: none;
    position: unset !important;
    background: none !important;
    position: absolute !important;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
}

@media (min-height:570px) {
    .login-page .footer {
        display: block;
    }
}

.login-page .footer .copyright {
    color: #fff !important;
}

.login-page #lost_pass {
    color: #fff !important;
    text-shadow: 1px 1px 3px #333;
}

.form-signin .btn-login {
    width: auto !important;
    float: right;
    border: none;
    padding-left: 30px;
    padding-right: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 18px !important;
    border-radius: 10px;
}

#theme-logo {
    max-height: 100px;
    max-width:400px;
}

.header {
    background: #01518e !important;
}

.footer {
    background-color: #56bdf1 !important;
}

    .footer .copyright {
        color: #fff !important;
    }

.login-title-heading {
    text-align: center;
    font-size: 36px;
    color: #000;
    font-weight: 600;
    font-family: Raleway;
    margin-bottom: 55px;
}

.footer .footer-link ul li {
    float: left;
    padding: 0px 10px;
    position: relative;
}

#lost_pass:hover {
    color: #01518e;
}

#lost_pass {
    color: #b6b6b6;
}

.form-signin .btn-login {
    width: 100%;
    height: 60px;
    /* background: #3085DB !important;*/
    font-size: 24px;
    color: #ffffff;
    font-weight: 600;
}

.login-page {
    background-color: #fff !important;
}
