     .row-one .box-1{
        width: 140px;

        height: 145px;
        margin-bottom: 20px !important;
        border: 2px solid hsl(200.1, 84.7%, 64.1%);
        
        border-radius: 8px !important;
    }
    .hover:hover{
        background: none !important;
        
    }
    #loadingDiv{

        height: 145px;
        border: 1px solid #c5c4c4;
        position: relative;
        background: #ffffff;
        float: left;
        margin-right: 21px;
    }

    #loadingDiv{
        position:fixed;
        top:0px;
        right:0px;
        width:100%;
        height:100%;
        background-color:#666;
        background-repeat:no-repeat;
        background-position:center;
        z-index:10000000;
        opacity: 0.4;
        filter: alpha(opacity=40); /* For IE8 and earlier */
    }

    .loader {
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid blue;
        border-right: 16px solid green;
        border-bottom: 16px solid red;
        width: 120px;
        height: 120px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
        margin-left: auto;
        margin-right: auto;
        margin-top:250px;
    }



    @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
    .b_title{
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    
    .topcorner{
        position:absolute;
        top:10px;
        right: 10px;
    }
    .AcceptButton{
        width: 100%;
        background-color: #56bdf1;
        color: #FFF;
        border: none;
        font-size: 25px;
        border-radius: 5px;
    }
    .AcceptButton:hover{
        text-decoration: none;
    }

    .form-control:focus{
        border-color: black; 
    }

    .form-control{
        border-radius: 0px; 
    }

    .selected-box{
        width: 150px;
        height: 150px;
    }
    .fa-question-circle{
        clear: both;
        float: right;
        margin-right: 4px;
    }
    .box-1{
        position: relative;

    }
    .next{
        border:1px solid #56bdf1;
        /* padding: 10px 60px;*/
        color: #fff;
        margin-right: 25px;
    }
    .next:hover{
        border:1px #56bdf1 solid;
        color:#56bdf1 !important;
        background:white !important;
    }
    .a::before,
    .a::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        border-color: transparent;
        /*border-style: solid;*/
        border-right-style: solid;
        border-bottom-style: solid;
        border-left-style: solid;
    }

    .a::before {
        border-width: 1.5em;
        border-right-color: #ccc;
        border-top-color: #ccc;
    }

    .a::after {
        border-radius: 0.4em;
        border-width: 1.35em;
        /*border-right-color: #0c0;
        border-top-color: #0c0;*/
    }
    .modal-success .modal-header:before {
        display: block;
        position: absolute;
        top: -1px;
        left: -1px;
        right: -1px;
        bottom: -1px;
        content: "";
        border:none !important;  
    }


    .next_disabled,.next_disabled:hover{
        background: lightgray !important;
        color: white !important;
        cursor: not-allowed;
    }

    .width{
        width: 125px !important;
        height: 125px !important;
        margin-right: 12px !important;
        margin-bottom: 2px !important
        border: 1px solid #a9a9a9 !important;
        border-radius: 8px !important;
        overflow: hidden !important;
    }
    .brand-title{

        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis; 
    }
    .Processors{
        color: #767676;
        font-weight: 600;
        padding:2px 2px;
    }
    .modal-content {
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        border-radius: 0px !important;
        border: none !important;
        border-style: none !important;
    }
    .brand-img{
        height: 100% !important;
    }
    .not::before {
        border-width:0px !important;
        border-right-color:none !important;
        border-top-color: none !important;
    }

    .not::after {
        border-radius: 0px !important;
        border-width: 0px !important;

    }
    .not.activeClass{
        background: #56bdf1 !important;
        color: white !important;
        border:2px solid #56bdf1 !important;
    }
    .not.activeClass >.Processors{
        color: white !important;
    }
    .not.activeClass{
        background: #FFC3CE !important;
        color: white !important;
        border:2px solid #56bdf1 !important;
    }
    .not.activeClass .waringblock{
        display: block !important;
    }
    .not .waringblock{
        display: none !important;
    }

    .not.activeClass .waringblock2{
        display: block !important;
    }
    .not .waringblock2{
        display: none !important;
    }
    .warninig-title {
        text-align: center;
        color: #fff;
        font-size: 16px;
        margin: 0px 0px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0px;

    }
    .warningmargin{
        margin-top: 0px;
        margin-left: 6px;
    }    
    .continue{
        background-color: #56bdf1 !important;
        border: 1px #56bdf1 solid !important;
        color: #FFF !important;
        font-size: 18px !important;
        border-radius: 0px !important;
    }
    .continue:hover {
        background-color: white !important;
        border: 1px #56bdf1 solid !important;
        color: #56bdf1 !important;
    }
    .activeClass .Processors {
        color: #45ac8b !important;
    }    

    /*Change for box background*/

    .row-one .box-1{
     border:1px solid hsl(0, 0%, 66.3%);
 }
 .search-bar{
    background-color: hsl(192, 20%, 85.3%)!important;
}
.row-one .box-1:hover{
    border: 1px solid hsl(0, 0%, 66.3%) !important;
    background-color: hsl(0, 0%, 100%) !important;
    color: hsl(0, 0%, 46.3%) !important;

}
.row-one .box-1:hover .brand-title{
    color:hsl(0, 0%, 46.3%) !important;
}
.brand-title {
    text-align: center;
    color: hsl(0, 0%, 46.3%);
    font-size: 16px;
    margin: 10px 0px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
    font-weight: 600;
}
.width .brand-img {
    margin: 0;
    margin-right: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-weight: 600;
    color: hsl(0, 0%, 46.3%);
}
.row-one .a:hover{
    
    background-color: hsl(200.1, 84.7%, 64.1%) !important;
}




