.uploader {
    position:relative; 
    overflow:hidden; 
    width:150px; 
    height:150px;
    background:#f3f3f3; 
    border:2px dashed #e8e8e8;
}

#filePhoto{
    position:absolute;
    width:150px;
    height:150px;
    left:0;
    z-index:2;
    opacity:0;
    cursor:pointer;
}

.uploader img{
    position:absolute;
    width:150px;
    height:150px;
    top:-1px;
    left:-1px;
    z-index:1;
    border:none;
}

.uploader2 {
    position:relative; 
    overflow:hidden; 
    width:150px; 
    height:150px;
    background:#f3f3f3; 
    border:2px dashed #e8e8e8;
}

#filePhoto2{
    position:absolute;
    width:150px;
    height:150px;
    top:-50px;

    left:0;
    z-index:2;
    opacity:0;
    cursor:pointer;
}

.uploader2 img{
    position:absolute;
    width:150px;
    height:150px;
    top:-1px;
    left:-1px;
    z-index:1;
    border:none;
}

.uploader3 {
    position:relative; 
    overflow:hidden; 
    width:150px; 
    height:150px;
    background:#f3f3f3; 
    border:2px dashed #e8e8e8;
}

#filePhoto3{
    position:absolute;
    width:150px;
    height:150px;
    top:-50px;

    left:0;
    z-index:2;
    opacity:0;
    cursor:pointer;
}

.uploader3 img{
    position:absolute;
    width:150px;
    height:150px;
    top:-1px;
    left:-1px;
    z-index:1;
    border:none;
}

    .detailsShowHide{
        display: none;
    }
    .financialsShowHide{
        display: none;
    }
    .noteShowHide{
        display: none;
    }
    .itemShowHide{
        display: none;
    }
    .actionShowHide{
        display: none;
    }
    a{
        color: #636E7B;
    }

    .quanitity{
        border:none !important;
        background:transparent !important;
    }

    .changeStatus,.AcceptButton,.eedit{
        background-color: #56bdf1 !important;
        color: #FFF !important;
        border:1px solid #56bdf1;
        font-size: 12px;
        border-radius: 0px;
    }
    .changeStatus:hover,.AcceptButton:hover,.eedit:hover{
        background-color: white !important;
        color: #56bdf1 !important;
        border:1px solid #56bdf1;
    }

    .changeStatus1{
        background-color: #56bdf1 !important;
        color: #FFF;
        border:1px solid #56bdf1;
        font-size: 12px;
        border-radius: 0px;
    }


    .Upload{
        background-color: #56bdf1;
        color: #FFF;
        border: 1px solid #56bdf1;
        font-size: 12px;
        border-radius: 5px;
        margin-left: 20px;

    }

    .canceled{
        background-color: red;
        color: white;
         border: 1px solid red;
        font-size: 12px;
        border-radius: 0px;

    }
    .canceled:hover{
        background-color: white;
        color: red;
         border: 1px solid red;
        font-size: 12px;
        border-radius: 0px;
    }
    .ecancel{
        background-color: red;
        color: #FFF;
        border: 1px solid red;
        font-size: 12px;
        border-radius: 0px;

    }
    .ecancel:hover{
        background-color: white;
        color: red;
         border: 1px solid red;
        font-size: 12px;
        border-radius: 0px;
    }

    .form-control:focus{
        border-color: black; 
    }

    .form-control{
        border-radius: 0px; 
    }

    @media (min-width: 768px){
        #ItemdetailWidth {
            width: 872px !important;
            margin: 30px auto;
        }
    }
    .quantityUpdate{
        background-color: #56bdf1;
        color: #FFF;
        border:1px solid #56bdf1;
        width: 93%;
    }
    .quantityUpdate:hover{
        background-color:white;
        color: #56bdf1;
        border:1px solid #56bdf1;
    }
    .save-img,#startbutton,#startbutton2,#startbutton3{
    background-color: #56bdf1 !important;
    border: 1px solid #56bdf1 !important;
    color: #FFF;
    border-radius: 0px;
    }
    .save-img:hover,#startbutton:hover,#startbutton2:hover,#startbutton3:hover{
    background-color: white !important;
    border: 1px solid #56bdf1 !important;
    color: #56bdf1;
    }
    .form-control:focus{
     border: 1px solid #56bdf1 !important;

    }

