#camera {
      width: 100%;
      height: 350px;
    }

  .uploader {
    position:relative; 
    overflow:hidden; 
    width:150px; 
    height:150px;
    background:#f3f3f3; 
    border:2px dashed #e8e8e8;
}

#filePhoto{
    position:absolute;
    width:150px;
    height:150px;
    top:0px;
    left:0;
    z-index:2;
    opacity:0;
    cursor:pointer;
}

.uploader img{
    position:absolute;
    width:150px;
    height:150px;
    top:-1px;
    left:-1px;
    z-index:1;
    border:none;
}

.uploader2 {
    position:relative; 
    overflow:hidden; 
    width:150px; 
    height:150px;
    background:#f3f3f3; 
    border:2px dashed #e8e8e8;
}

#filePhoto2{
    position:absolute;
    width:150px;
    height:150px;
    top:0px;
    left:0;
    z-index:2;
    opacity:0;
    cursor:pointer;
}

.uploader2 img{
    position:absolute;
    width:150px;
    height:150px;
    top:-1px;
    left:-1px;
    z-index:1;
    border:none;
}

.uploader3 {
    position:relative; 
    overflow:hidden; 
    width:150px; 
    height:150px;
    background:#f3f3f3; 
    border:2px dashed #e8e8e8;
}

#filePhoto3{
    position:absolute;
    width:150px;
    height:150px;
    top:0px;
    left:0;
    z-index:2;
    opacity:0;
    cursor:pointer;
}

.uploader3 img{
    position:absolute;
    width:150px;
    height:150px;
    top:-1px;
    left:-1px;
    z-index:1;
    border:none;
}
.save-img,#startbutton,#startbutton2,#startbutton3{
    background-color: #56bdf1 !important;
    border: 1px solid #56bdf1 !important;
    color: #FFF;
    border-radius: 0px;
}
.save-img:hover,#startbutton:hover,#startbutton2:hover,#startbutton3:hover{
    background-color: white !important;
    border: 1px solid #56bdf1 !important;
    color: #56bdf1;
}
.form-control:focus{
 border: 1px solid #56bdf1 !important;
}
.ml7{
    margin-left: 7px;
}
.pl36{
    padding-left: 36px;
}
.pl22{
    padding-left: 22px;
}
.pl7{
    padding-left: 7px;
}