.row-one .box-1{
		width:173px;
		margin-bottom: 20px !important;
	}
#loadingDiv{
			  position:fixed;
			  top:0px;
			  right:0px;
			  width:100%;
			  height:100%;
			  background-color:#666;
			  background-repeat:no-repeat;
			  background-position:center;
			  z-index:10000000;
			  opacity: 0.4;
			  filter: alpha(opacity=40); /* For IE8 and earlier */
		}

		.loader {
			  border: 16px solid #f3f3f3;
			  border-radius: 50%;
			  border-top: 16px solid blue;
			  border-right: 16px solid green;
			  border-bottom: 16px solid red;
			  width: 120px;
			  height: 120px;
			  -webkit-animation: spin 2s linear infinite;
			  animation: spin 2s linear infinite;
			  margin-left: auto;
			  margin-right: auto;
			  margin-top:250px;
		}



		@-webkit-keyframes spin {
			  0% { -webkit-transform: rotate(0deg); }
			  100% { -webkit-transform: rotate(360deg); }
		}

		@keyframes spin {
			  0% { transform: rotate(0deg); }
			  100% { transform: rotate(360deg); }
		}

		.modal-success .modal-header:before {
		    display: block;
		    position: absolute;
		    top: -1px;
		    left: -1px;
		    right: -1px;
		    bottom: -1px;
		    content: "";
		   	border-top: 1px solid #00B1E1 !important; 
		    border-left: 1px solid #00B1E1 !important; 
		    border-right: 1px solid #00B1E1 !important; 
		}
		.brand-img{
			height:100%;
		}

		.row-one .box-1:hover{
			border: 1px solid #56bdf1;
			background-color: #56bdf1;
			color: #fff;
		}


		.topcorner{
		    position:absolute;
		    top:10px;
		    right: 10px;
		 }