    #loadingDiv{
        position:fixed;
        top:0px;
        right:0px;
        width:100%;
        height:100%;
        background-color:#666;
        background-repeat:no-repeat;
        background-position:center;
        z-index:10000000;
        opacity: 0.4;
        filter: alpha(opacity=40); /* For IE8 and earlier */
    }

    .loader {
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #00B1E1;
        border-right: 16px solid #fff;
        border-bottom: 16px solid #00B1E1;
        width: 66px;
        height: 66px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
        margin-left: auto;
        margin-right: auto;
        margin-top:250px;
    }



    @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }

    .modal-success .modal-header:before {
        display: block;
        position: absolute;
        top: -1px;
        left: -1px;
        right: -1px;
        bottom: -1px;
        content: "";
        border-top: 0px solid #00B1E1 !important; 
        border-left: 0px solid #00B1E1 !important; 
        border-right: 0px solid #00B1E1 !important; 
    }
    .brand-img{
        height:auto;
        overflow: hidden;
    }
    .row-one .box-1:hover{
        border: 2px solid #56bdf1;
        background-color: #56bdf1;
        color: #fff !important;
    }
    .row-one .box-1:hover .brand-title {

        color: #fff !important;
    }
    .row-one .box-1:hover .brand-img img{
        filter: contrast(160%);
    }
    .row-one .box-1{
        border: 2px solid #56bdf1;
        border-radius: 8px;
        overflow: hidden;
        width:140px;
        margin-bottom: 20px !important;
        color: black;
        position: relative;
    }
    .row-one .box-1 span,.selected-box .brand-img,.box-1 .Processors,.box-1.brand-img{
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    .topcorner{
        position:absolute;
        top:10px;
        right: 10px;
    }
    .p_img{
        /*height:100%;*/
    }

.progressbar {
  margin: 0;
  padding: 0;
  counter-reset: step;
}
.progressbar li {
  list-style-type: none;
  width: 25%;
  float: left;
  font-size: 14px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  color: #7d7d7d;
}
.progressbar li:before {
  width: 30px;
  height: 30px;
  content: counter(step);
  counter-increment: step;
  line-height: 22px;
  border: 5px solid #f1f4f5;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  background-color: white;
}
.progressbar li:after {
  width: 100%;
  height: 5px;
  content: '';
  position: absolute;
  background-color: #f1f4f5;
  top: 15px;
  left: -50%;
  z-index: -1;
}
.progressbar li:first-child:after {
  content: none;
}
.progressbar li.active1 {
  color: #01518e;
}
.progressbar li.active1:before {
  border-color: #a9a9a9;
}
.progressbar li.active1 + li:after {
  background-color: #a9a9a9;
}

.selected-box{
 border:1px solid  #a9a9a9;
 border-radius: 8px;
  overflow: hidden;
}
.selected
{
    background-color: #56bdf1 !important;
    color: #fff !important;

}
.selected .brand-title {
    color: #fff !important;
}
.selected .brand-img img {
    filter: contrast(160%);
}
#tags,#tags:focus{
border:1px solid #56bdf1 !important;
}

.ui-menu{
  max-height: 300px !important;
  overflow-y: scroll;
  width: 617px !important;
  }
  .list_item_container{
     padding-bottom: 0px;
     border:none !important;
     width: 98% !important
  }
  .list_item_container .label h4 {
      color: gray;
      margin-top: 0px;
      margin-bottom: 0px;
  }
  .list_item_container .label  {
      text-align:left !important;
      padding-left: 10px !important; 
  }
  .list_item_container:hover{
      background: #56bdf1 !important;
      padding-bottom: 0px;
      border:none !important;
  }
  .image{
      padding: 0px !important;
      margin-bottom: 0px;
      margin-top: 3px;
  }
 .list_item_container:hover .image img {
      filter: contrast(160%);
  }
  .list_item_container:hover .image {
      padding: 0px !important;
      margin-bottom: 0px;
      margin-top: 3px;
  }
  .list_item_container:hover .label h4{
      color:white !important; 
  }


    .upload_sub_btn{
        width: 50%;
        background-color: #56bdf1;
        border:1px solid #56bdf1;
        font-size: 21px;
        border-radius: 0px;
        color: #fff;
    }
    .upload_sub_btn:hover{
        background-color:white;
        border:1px solid #56bdf1;
        color: #56bdf1;
    }
    .skip{
        font-size: 21px !important;
        width: 50%;
        background-color: #56bdf1;
        border:1px solid #56bdf1;
        font-size: 21px;
        border-radius: 0px;
        color: #fff;
    }
    .skip:hover{
        background-color:white;
        border:1px solid #56bdf1;
        color: #56bdf1;
    }
    .changeStatus{
        background-color: #56bdf1;
        border: 1px solid #56bdf1;
        color: #FFF;
        font-size: 12px;
        border-radius: 0px;
    }
    .changeStatus:hover{
        background-color: white;
        color: #56bdf1;
        border: 1px solid #56bdf1;
        font-size: 12px;
        border-radius: 0px;
    }

    .changeStatus1{
        background-color: #56bdf1;
        color: #FFF;
        border: 1px solid #56bdf1;
        font-size: 12px;
        border-radius: 0px;
    }
    .changeStatus1:hover{
        background-color: white !important;
        color: #56bdf1 !important;
        border: 1px solid #56bdf1 !important;
        font-size: 12px !important;
        border-radius: 0px !important;
    }

/*    .grey{
        background-color: grey !important;
        border:1px grey solid !important;
        color: #FFF;
        border-radius: 0px;
    }
    .grey:hover{
        background-color: white !important;
        color: grey !important;
        border:1px grey solid !important;
    }*/

    .Upload{
        background-color: #56bdf1;
        border:1px #56bdf1 solid;
        color: #FFF;
        font-size: 12px;
        border-radius: 0px;


    }
    .Upload:hover{
        background-color: white;
        border:1px #56bdf1 solid;
        color: #56bdf1;
    }

    .canceled
    {
        background-color: red;
        color: #FFF;
        border: 1px red solid;
        font-size: 12px;
        border-radius: 0px;

    }
    .canceled:hover
    {
        background-color: white !important;
        border:1px red solid !important;
        color: red !important;
        font-size: 12px;
        border-radius: 0px;
    }

    .cancel{
        background-color: red;
        color: #FFF;
        border: 1px solid red;
        font-size: 12px;
        border-radius: 0px;
    }
    .cancel:hover{
        background-color: white;
        color: red;
        border: 1px solid red;

        font-size: 12px;
        border-radius: 0px;
    }
    .powderblue{
        background-color: #56bdf1;
        border:1px #56bdf1 solid;
        color:white;

    }
    .powderblue:hover{
        background-color: white !important;
        border:1px #56bdf1 solid !important;
        color:#56bdf1 !important;
    }
    .form-control:focus{
        border-color: black; 
    }

    .form-control{
        border-radius: 0px; 
    }
