
    .fa-question-circle{
        clear: both;
        float: right;
        margin-right: 4px;
    }
    .box-1{
        position: relative;
    }
    .selected-box{
        width: 125px;
        height: 125px;
    }
    .next{
       background: white !important;
       color: lightgray !important;
       border:1px solid lightgray; 
    }
    
    .next:hover{
       background: white !important;
       color: lightgray !important;
       border:1px solid lightgray;
    }

    select#soflow, select#soflow-color {

        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
    }
    .form-control{
        border-radius: 0px;
    }
    select#soflow-color {
        color: #fff;
      
        background-color: #56bdf1;

    }
    .fordefect:hover{
        color: #000 !important;
    }
    .hover:hover{
        background: none !important;
    }

    .a::before,
    .a::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        border-color: transparent;
        border-right-style: solid;
        border-bottom-style: solid;
        border-left-style: solid;
    }

    .a::before {
        border-width: 1.5em;
        border-right-color: #ccc;
        border-top-color: #ccc;
    }

    .a::after {
        border-radius: 0.4em;
        border-width: 1.35em;

    }
    
    .not::before {
        border-width:0px;
        border-right-color:none;
        border-top-color: none;
    }

    .not::after {
        border-radius: 0px !important;
        border-width: 0px !important;

    }
    .not.activeClass{
        background: #FFC3CE !important;
        color: white !important;
        border:2px solid #56bdf1 !important;
    }
    .not.activeClass >.Processors{
        color: white !important;
    }
     .not.activeClass .waringblock{
        display: block !important;
     }
    .not .waringblock{
        display: none !important;
     }

    .not.activeClass .waringblock2{
        display: block !important;
     }
    .not .waringblock2{
        display: none !important;
     }
    #modal-bootstrap-question #modal-header:before {
        display: block;
        position: absolute;
        top: -1px;
        left: -1px;
        right: -1px;
        bottom: -1px;
        content: "";
        border:none !important;
    }
    #modal-content{
        background:#f1f4f5;
        border-radius:15px;
        border: 3px solid gray !important;
    }
    #modal-header {
        padding: 0px;
        border-bottom: none;
    }
    .fa-times-circle{
        color:#56bdf1;
        font-size:40px;
    }
    .close {

        filter: alpha(opacity=50);
        opacity: .5;
    }
    .activeClass .checked .url_img
    {
        display:block !important;
    }
    .activeClass .Processors
    {
        color:#45ac8b !important;
    }

    .next_disabled,.next_disabled:hover{
        background: white !important;
        color: lightgray !important;
        cursor: not-allowed;
        border:1px solid lightgray;

    }
    @media (min-width: 1200px){
        .col-lg-2 {
        width: 13.9%;
        }
    }
    .brand-title{
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis; 
    }

.warninig-title {
    text-align: center;
    color: #fff;
    font-size: 16px;
    margin: 0px 0px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
  
}
.warningmargin{
    margin-top: 0px;
    margin-left: 6px;
}

.continue{
    background-color: #56bdf1 !important;
    border: 1px #56bdf1 solid !important;
    color: #FFF !important;
    font-size: 18px !important;
    border-radius: 0px !important;
    }
    .continue:hover {
    background-color: white !important;
    border: 1px #56bdf1 solid !important;
    color: #56bdf1 !important;
}