.row-one .box-1 span, .selected-box .brand-img, .box-1 .Processors {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    .brand-img {
        padding: 30px 20px;
        width: auto;
        text-align: center;
    }
    .box-1{
        border: 1px solid #a9a9a9;
        border-radius: 8px;
    }

   .selected-box{
    width: 125px;
    height:125px;
    border: 1px solid #a9a9a9;
    border-radius: 8px;
    }
    .width{
        width: 13.9%;
    }
    .brand-title{
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis; 
    }

    .upload_sub_btn{
        width: 50%;
        background-color: #56bdf1;
        border:1px solid #56bdf1;
        font-size: 21px;
        border-radius: 0px;
        color: #fff;
    }
    .upload_sub_btn:hover{
        background-color:white;
        border:1px solid #56bdf1;
        color: #56bdf1;
    }
    #loadingDiv{
        position:fixed;
        top:0px;
        right:0px;
        width:100%;
        height:100%;
        background-color:#666;
        background-repeat:no-repeat;
        background-position:center;
        z-index:10000000;
        opacity: 0.4;
        filter: alpha(opacity=40); /* For IE8 and earlier */
    }

    .loader {
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #00B1E1;
        border-right: 16px solid #fff;
        border-bottom: 16px solid #00B1E1;
        width: 66px;
        height: 66px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
        margin-left: auto;
        margin-right: auto;
        margin-top:250px;
    }
    @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
    .AcceptButton,.Upload{
        width: 100%;
        background-color: #56bdf1;
        border:1px solid #56bdf1 !important;
        color: #FFF;
        border: none;
        font-size: 21px;
        border-radius: 0px;
    }
    .AcceptButton:hover,.Upload:hover{
        width: 100%;
        font-size: 21px;
        background-color:white;
        color: #56bdf1;
        border: none;
        border:1px solid #56bdf1;
    }

    .form-control:focus{
        border-color: black; 
    }

    .form-control{
        border-radius: 0px; 
    }
    .cancel,.canceled{
        width: 100%;
        background-color: #830303;
        border: 1px solid #830303 !important;
        color: #FFF;
        border: none;
        font-size: 21px;
        border-radius: 0px;
        margin-top: 10px;

    }
    .cancel:hover,.canceled:hover{
        width: 100%;
        font-size: 21px;
        background-color: #fff;
        color: #830303;
        margin-top: 10px;
        border: 1px solid #830303 !important;
        border-radius: 0px;
    }
