.selected-box{
        width: 125px;
        height: 125px;

    }
    .col-lg-2{
        width: 13.9%;
    }
    .brand-title{
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis; 
    }
    .AcceptButton,#edit_quote{
        width: 100%;
        background-color: #830303;
        border:1px solid #830303 !important;
        color: #FFF;
        border: none;
       font-size: 21px;
        border-radius: 0px;
    }
    .AcceptButton:hover,#edit_quote:hover{
        width: 100%;
        font-size: 21px;
        background-color:#fff;
        color: #830303;
        border: none;
        border:1px solid #830303;
    }
    .pendingPhoto{
        width: 100%;
        background-color: #56bdf1;
        color: #FFF;
        border:1px  #56bdf1 solid;
        font-size: 21px;
        border-radius: 0px;
    }
    .pendingPhoto:hover{
        width: 100%;
        background-color: #white;
        color: #56bdf1;
        background-color: #56bdf1;
        font-size: 21px;
        
    }
    .form-control:focus{
        border-color: black; 
    }

    .form-control{
        border-radius: 0px; 
    }
    
   .ml7{
    margin-left: 7px;
    }
    .pl36{
        padding-left: 36px;
    }
    .pl22{
        padding-left: 22px;
    }
    .pl7{
        padding-left: 7px;
    }