@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Thin.eot?#iefix') format('embedded-opentype'), url('../fonts/Raleway-Thin.woff') format('woff'), url('../fonts/Raleway-Thin.ttf') format('truetype'), url('../fonts/Raleway-Thin.svg#Raleway-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-SemiBold.eot?#iefix') format('embedded-opentype'), url('../fonts/Raleway-SemiBold.woff') format('woff'), url('../fonts/Raleway-SemiBold.ttf') format('truetype'), url('../fonts/Raleway-SemiBold.svg#Raleway-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Raleway-Regular.woff') format('woff'), url('../fonts/Raleway-Regular.ttf') format('truetype'), url('../fonts/Raleway-Regular.svg#Raleway-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Raleway-Medium.woff') format('woff'), url('../fonts/Raleway-Medium.ttf') format('truetype'), url('../fonts/Raleway-Medium.svg#Raleway-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/Raleway-Light.woff') format('woff'), url('../fonts/Raleway-Light.ttf') format('truetype'), url('../fonts/Raleway-Light.svg#Raleway-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Raleway-Bold.woff') format('woff'), url('../fonts/Raleway-Bold.ttf') format('truetype'), url('../fonts/Raleway-Bold.svg#Raleway-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Black.eot?#iefix') format('embedded-opentype'), url('../fonts/Raleway-Black.woff') format('woff'), url('../fonts/Raleway-Black.ttf') format('truetype'), url('../fonts/Raleway-Black.svg#Raleway-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}


.login-page {
    background: #f1f4f5;
}

/* header
-------------------------------------------------- */
.header {
    height: 110px;
    background: #01518e;
    width: 100%;
}

.login-logo {
    text-align: center;
    width: 217px;
    margin: 35px auto;
}

.header-logo {
    text-align: left;
    width: 100%;
    display: table;
    height: 60px;
    margin: 0px auto;
    border-bottom: 1px solid #014280;
}

.logo {
    text-align: left;
    width: 217px;
    display: table-cell;
    vertical-align: middle;
}

/* header
-------------------------------------------------- */

.form-signin {
    max-width: 888px;
    padding: 15px;
    margin: 30px auto;
}

.form-signin .form-signin-heading {
    margin-bottom: 10px;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
    height: 60px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin .form-group {
    margin-bottom: 40px;
}

.form-signin .btn-login {
    width: 100%;
    height: 60px;
    background: #5fb4e5;
    font-size: 24px;
    color: #ffffff;
    font-weight: 600;
}
.form-signin .btn-login:focus, .form-signin .btn-login:hover {
    background: #01518e;
}

.login-title-heading {
    text-align: center;
    font-size: 36px;
    color: #01518e;
    font-weight: 600;
    font-family: Raleway;
    margin-bottom: 55px;
}

/* Lightbox-style overlay for search
-------------------------------------------------- */
/*
.search-bar {
    position:relative;
    z-index:10000;
}

div#search_overlay {
    background: #000;
    display: none;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9500;
}
div#search_overlay.search_overlay_active {
    opacity:.8;
    display:block;
}
*/
/* Sticky footer styles
-------------------------------------------------- */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #56bdf1;
}

.footer .copyright {
    color: #fff;
    font-size: 14px;
    padding: 20px 0px;
}
.footer .copyright .credit {
    margin-right:10px;
}
.footer .copyright a {
    margin-left:8px;
    margin-right:8px;
}
.footer .copyright a, .footer .copyright a:hover, .footer .copyright a:focus  {
    color: #fff;
}

.footer .footer-link ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    padding: 20px 0px;
}

.footer .footer-link ul li {
    float: left;
    padding: 0px 7px;
    position: relative;
}

.footer .footer-link ul li::before {
    content: "|";
    font-size: 15px;
    color: #ffffff;
    position: absolute;
    right: -2px;
}

.footer .footer-link ul li:last-child {
    padding-right: 0px;
}

.footer .footer-link ul li:first-child {
    padding-left: 0px;
}

.footer .footer-link ul li:last-child::before {
    display: none;
}

.footer .footer-link ul li a {
    font-size: 14px;
    color: #ffffff;
}

.footer .footer-link ul li a:hover {
    color: #01518e;
    text-decoration: none;
}

.no-pad {
    padding: 0px !important;
}

.page-title {
    background: #56bdf1;
    width: 100%;
    height: 30px;
}

.page-heading-left {
    color: #ffffff;
    font-size: 24px;
    font-weight: 300;
    border-bottom: 3px solid #01518e;
    padding-top: 23px;
    display: inline-block;
}

.page-heading-center {
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    padding-top: 2px;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.search-bar {
    background: #f1f4f5;
    width: 100%;
    padding: 75px 0px;
    transition:.3s;
}
.search-label {
    color: #767676;
    font-size: 24px;
    font-weight: 600;
}
.close-search {
    display:none;
    position: absolute;
    right: 17px;
    top: 17px;
    background: #666;
    height: 26px;
    width: 26px;
    border-radius: 50%;
    text-align: center;
    color: #efefef;
    line-height: 26px;
    font-size: 15px;
}
.close-search i {
    margin-top:1px;
    margin-left:1px;
}
.close-search:hover {
    cursor:pointer;
}
.search-input {
    background: url(../images/search-icon.jpg) 98% center no-repeat #ffffff;
    font-size: 18px;
    padding: 0px 20px;
    width: 618px;
    height: 60px;
    border: 1px solid #c5c4c4;
    color: #c5c4c4;
    border-radius: 4px;
    margin-left: 20px;
}
.list-group.search-ul {
    max-height:365px;
    overflow-y:auto;
    border-bottom-left-radius: 4px!important;
    border-bottom-right-radius: 4px!important;
}
.list-group.search-ul.open {
    border:solid #999 2px!important;
    box-shadow: 2px 2px 6px rgba(1,1,1,.3)!important;
}
.list-group.search-ul .list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.list-group.search-ul .list-group-item:last-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.list-group.search-ul .image {
    margin-right:10px;
}
.list-group.search-ul .list-group-item:hover {
    background:#efefef;
    cursor:pointer;
}
.list-group.search-ul .list-group-item > a {
    display:block;
    text-decoration:none;
}
.list-group.search-ul .list-group-item:after {
    clear: both;
}
.list-group.search-ul .list-group-item:before, .list-group.search-ul .list-group-item:after {
    display: table;
    content: " ";
}
.list-group.search-ul .list-group-item .item-title {
    color:#999;
    display: inline-block;
    width: 75px;
    text-align: right;
}
.list-group.search-ul.pup .list-group-item .item-title {
    width: 120px;
}
.list-group.search-ul .list-group-item .item-detail {
    color:#333;
}
.device-section h2.title {
    color: #56bdf1;
    font-size: 24px;
}
.not.activeClass .waringblock {
    text-align: right;
    z-index: 100;
    position: relative;
}
.not.activeClass .waringblock .fa.fa-warning{
    font-size: 19px!important;
    color: #fff!important;
    margin: 10px!important;
}
.row-center .card.not.activeClass::before,.row-center .card.not.activeClass:hover::before {
    background: red!important;
}
.row-center .card.a.not.activeClass .Processors.warningmargin, .row-center .card.a.not.activeClass:hover .Processors.warningmargin {
    color:#56bdf1!important;
}
.not.activeClass .waringblock2 {
    display: block !important;
    position: absolute!important;
    bottom: 0!important;
    width: 100%!important;
    text-align: center!important;
    padding: 8px!important;
}
.row-one .box-1 {
    width: 140px;
    height: 145px;
    border: 1px solid #c5c4c4;
    position: relative;
    background: #ffffff;
    float: left;
    margin-right: 21px;
}

    .row-one .box-1 .brand-logo {
        width: 100%;
    }

    .row-one .box-1:hover {
        border: 1px solid #56bdf1;
        position: relative;
        background: #f5f5f5;
        cursor: pointer;
    }

    .row-one .box-1:last-child {
        margin-right: 0;
    }

.row-one {
    margin: 0px 0px 0px 0px;
    float: left;
    width: 100%;
}

.selected-box {
    width: 178px;
    height: 178px;
    border: 1px solid #c5c4c4;
    position: relative;
    background: #ffffff;
    margin: 0px auto;
}

.brand-img {
    padding: 30px 20px;
    width: auto;
    text-align: center;
}

.brand-title {
    text-align: center;
    color: #767676;
    font-size: 16px;
    margin: 10px 0px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
    font-weight: 600;
}

.modal-success .modal-header {
    color: white;
}

.modal-content {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border-radius: 0px !important;
    border: none !important;
    border-style: none !important;
}

.modal-success .modal-header:before {
    display: block;
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    content: "";
    border-top: 0px solid #00B1E1 !important;
    border-left: 0px !important;
    border-right: 0px !important;
}

.clientGo {
    background: #56bdf1 !important;
    color: white;
    border: 1px solid #56bdf1 !important;
    border-radius: 0px !important;
    padding: 7px 30px !important;
}

    .clientGo:hover {
        background: white !important;
        color: #56bdf1 !important;
        border: 1px solid #56bdf1 !important;
    }

.form-control {
    /* border-radius: 0px !important;*/
}

.navbar-nav > li > a {
    /* color to change */
    color: #fff !important;
}

.header {
    background: #01518e !important;
}

ul li .active, .active {
    background-color: white;
    color: #01518e;
}

    ul .active > a, .active > a {
        /* color to change */
        color: #fff !important;
    }

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    /* color to change */
    background-color: #23527c !important;
}

.modal-success .modal-header {
    background-color: #00B1E1 !important;
    border-bottom: 1px solid #00B1E1;
}
.clientform .clientGos {
    padding: 14px 15px;
    /*line-height: 50px;*/
    font-size: 18px;
    color: #ffffff;
    font-weight: 600;
}
.clientform .clientGos:hover, .clientform .clientGos:hover:focus {
    text-decoration: none;
    background-color: #426ca9;
}
.navbar {
    border-top: solid 1px transparent !important;
}
.navbar-nav > li.active > a {
    background: #fff !important;
}
@media (min-width:768px) {
    .navbar-cont .navbar {
        padding-left: 100px;
        margin-top: 30px;
    }

    .navbar-header {
        margin-top: 0;
    }
}

.footer .footer-link ul li .abc {
    font-size: 14px;
    color: #337ab7;
    text-decoration: underline;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #56bdf1 !important;
}
.form-add-edit-user .control-label {
    color: #767676;
    font-size: 15px;
    font-weight: 600;
}
body {
    background:#efefef;
    color:#767676;
}
@media (min-width: 1200px){
    .container {
        width: 1170px;
    }
}
.navbar-nav > li > a{
    color: !important;
}
.header {
    background:  !important;
   
}
.page-title {
    height:auto;
    padding-top:5px;
    padding-bottom:5px;
}
ul li .active,.active{
    background-color: white;
    color: #01518e;
}

ul .active > a, .active > a {
color:  !important;
}

.nav > li > a:hover, .nav > li > a:focus {
text-decoration: none;
background-color:  !important
}
.modal-success .modal-header {
    background-color: #00B1E1 !important;
    border-bottom: 1px solid #00B1E1 ;
}
.clientform .clientGos{
    padding:15px 10px;
    font-size: 15px;
    color: #ffffff;
    font-weight: 600;
    display:inline-block;
}
.clientform .clientGos:hover, .clientform .clientGos:hover:focus {
    text-decoration: none;
    background-color: #426ca9;
}
    .navbar {
    border-top:solid 1px transparent!important;
}
/*#img-logo {
    margin:13px 0 0 26px;
    position:absolute;
    left:0;
    top:0;
    width:60px;
}*/
.navbar.navbar-custom {
    border:none!important;
}
.navbar-nav > li.active > a {
    background:#fff!important;
}
/*    .navbar-header {
    margin-top:30px;
}*/
@media (min-width:768px){
    .navbar-cont .navbar {
        padding-left:100px;
        margin-top:30px;
    }
    .navbar-header {
        margin-top:0;
    }       
}
.navbar-brand {
    padding:8px 0 8px 0;
    height:65px;
    line-height: 46px;
}
.navbar-brand > img {
    display:inline-block;
    max-width:300px;
    max-height:50px;
}
#navbar-topnav .navbar-nav > li {
    float:left;
}

#navbar-topnav .navbar-nav > li > a {
    line-height:20px;
    font-size:15px;
}
.navbar-toggle {
    position: absolute;
    right: 0;
    top:7px;
    margin-right:0;
}
.navbar-form {
    margin:0;
    padding:0;
}
.navbar.navbar-conditional {
    min-height:auto!important;
}
#navbar-topnav .nav.navbar-nav.navbar-right {
    float:right!important;
    margin-top:15px;
}
@media (max-width:767px){
    .topnav-link span {
        display:none;
    }
    #navbar-topnav .nav.navbar-nav.navbar-right {
        margin-top:12px;
        margin-right:50px;
    }
    .navbar-form.navbar-left.clientform {
        float:left!important;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .clientGos.topnav-link {
        padding-top:10px;
        padding-bottom:10px;
    }
    .navbar-brand {
        padding-left:0;
    }
}
.panel {
    box-shadow: 0 1px 1px 0 rgba(60,64,67,.08), 0 1px 3px 1px rgba(60,64,67,.16);
    border:none;
    overflow:hidden;

}
.btn-cta {
    color: #fff!important;
    background-color: #f0ad4e!important;
    border:solid 1px #eea236!important;
    border-color: #eea236!important;
}
.btn-cta:hover, .btn-cta:focus {
    color: #fff!important;
    background-color: #ec971f!important;
    border-color: #d58512!important;
}
.new-quate-btn .fa {
    border-left:solid #eea236 1px;
}
.clientGo {
    padding:6px 30px!important;
    border-radius: 4px !important;
}
.dev-spec-selection {
    text-align: center;
font-size: 13px;
text-transform: uppercase;
color: #999;
letter-spacing: 2px;
margin-bottom: 20px;
}
    .brand-img {
    color:#767676;
    line-height:1.2;
}
.selected-brand-wrap.brand-img {
    padding:10px 20px;
}
.selected-brand {
    background-position:50% 50%;
    background-size:contain;
    background-repeat:no-repeat;
    height: 100px;
    width:100%;
}
.form-control.Processor.Processor {
    border:0;
}
.btn-cta.continue {
    background-color: #f0ad4e!important;
    border: 1px #eea236 solid !important;
    color: #fff !important; 
    font-size: 18px !important;
    border-radius: 6px !important;
}
.btn-cta.continue:hover {
    color: #fff!important;
    background-color: #ec971f!important;
    border-color: #d58512!important;
}
.btn-cta.next, .btn-cta.add-note-btn, .btn-cta.btn-add-sub {
    background: #f0ad4e!important;
    color: #fff !important;
    border: 1px #eea236 solid !important;
}
.btn-lg.next_disabled, .btn-lg.next_disabled:hover {
    border-radius:6px!important;
}
.btn-cta.next:hover, .btn-cta.add-note-btn:hover, .btn-cta.btn-add-sub:hover {
    color: #fff!important;
    background-color: #ec971f!important;
    border-color: #d58512!important;
}
.btn-cta.next_disabled, .btn-cta.next_disabled:hover {
    border-color:lightgray!important;
}
.processor-type {
    display:inline-block;
    margin-right:20px;
}
.processor-type:last-child {
    margin-right:0;
} 
    .selectbox1{
    width: 618px !important;
    height: 60px;
    border-radius: 5px;
    border-color: #56bdf1 !important;
}
.search-bar {
    background:transparent!important;
}
.mainDiv {
    background: #000 url(/images/balloon-1373161_1920_2.jpg) no-repeat center top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-bottom:0;
}
.device-section {
    background:#efefef;
    padding-top:30px;
    padding-bottom:50px;
}
.search-bar #tags {
    background: rgba(255,255,255,.7);
    font-size: 19px;
    padding: 10px;
    height: 60px;
    color:#555!important;
    transition:.3s;
}
.search-bar #tags.light-bg {
    background:#efefef;
}
.search-bar #tags, .search-bar #tags:focus {
    border: none!important;    
}
.search-bar #tags::-webkit-input-placeholder {
    color: #555!important;
}
.search-bar #tags::-moz-placeholder {
    color: #555!important;
}
.search-bar #tags:-ms-input-placeholder {
    color: #555!important;
}
.search-bar #tags:-moz-placeholder {
    color: #555!important;
}

.progressbar {
    padding-top: 10px!important;
    padding-bottom: 10px!important;
    background: #fbfbfb;
    border: solid 1px #efefef;
    border-radius: 16px;
}
.progressbar:before, .progressbar:after {
    display: table;
    content: " ";
}

.progressbar:after {
    clear: both;
}
.progressbar li:before {
    line-height: 21.5px!important;
    border-width:3px!important;
}    
section .progressbar li {
    font-weight:700;
}
section .progressbar li.active1:before {
    border-color: #5cb85c;
}
section .progressbar li.active1 {
    color:#5cb85c;
}
section .progressbar li:before {
    line-height:19px;
}
.row-one .box-1:hover img{
    filter: contrast(160%);
}
h2.title {
    margin-bottom:30px;
}
.card {
    border:solid 2px #56bdf1;
    overflow: hidden;
    border-radius:8px;
}
.card.card-selected {
    border:solid 2px #ddd;
}
.row-center .card span, .selected-box .brand-img, .card .Processors, .card.brand-img {
    color:#767676;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.row-center {
    text-align:center;
}
.row-left {
    text-align:left!important;
}    
.row-center .card {
    position:relative;
    width:140px;
    height:145px;
    border-radius: 8px;
    display:inline-block;
    margin-right:20px;
    margin-bottom:15px;
    overflow: hidden;
    background: #ffffff;
    text-decoration:none!important;
    float:none;
}    
.row-center .card:last-child {
    margin-right:0;   
}
@media (min-width:768px) and (max-width:991px) {
    .row-center .card:nth-child(4n+4) {
        margin-right:0;   
    }
}
@media (min-width:992px) and (max-width:1199px) {
    .row-center .card:nth-child(5n+5) {
        margin-right:0;   
    }
    .row-center.row-left {
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
    }
}
@media (min-width:1200px){
    .row-center .card:nth-child(7n+7) {
        margin-right:0;   
    }
    .row-center.row-left {
        max-width: 1128px;
        margin-left: auto;
        margin-right: auto;
    }
}
.card.a:hover::before {
    background:#efefef;
}
.card.a::before {
    border-width: 0;
    background: #efefef;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    top:5px;
    right:5px;
}
.card .checked {
    margin-top: 10px;
    margin-right: 9px;
    float:right;
}
.card.step02 {
    padding:20px;
}
.defects-selected .url_img .fa {
    color:#ccc;
}
.defects-selected .card {
    float:none;
    display:inline-block;
}

.defects-selected.row-center .card.card-selected:hover {
    color:#767676!important;   
}
.url_img .fa {
    font-size:20px;
}
.row-center .card.activeClass .url_img .fa  {
    color:#fff;
}
.row-center .card:hover {
    background:#56bdf1;
    color:#fff!important;
    cursor:pointer;
}
.row-center .card.card-selected:hover {
    background:#efefef!important;
    color:#fff!important;
}
.row-center .card.card-final:hover {
    background:#ffffff!important;
    color:#767676!important;
    cursor:default!important;
}
.row-center .card.card-final:hover .brand-title {
    color:#767676!important;
}
.row-center .card:hover .brand-title {
    color:#fff!important;
}  
.row-center .card.card-selected:hover .brand-title {
    color:#767676!important;
}  
.row-center .card.card-selectmenu {
    padding-left:5px;
    padding-right:5px;
}
.row-center .card.card-selectmenu:hover {
    background:#fff!important;
}    
.row-center .card.card-selectmenu:hover .brand-title {
    color:#767676!important;
}
.row-center .card:hover::before, .row-center .card.a:hover::before {
    background:#ccc;
}
.row-center .card.activeClass::before {
    background:#56b1f1;
}    
.row-center .card.activeClass .Processors {
    color:#56bdf1!important;
}    
.row-center .card.activeClass:hover .Processors {
    color:#fff!important;
}
.conditions .card {
    display:inline-block;
    float:none;
}
.conditions .card:hover {
    cursor:pointer;
}
.services-list .card {
    display:inline-block;
    float:none;        
}
@media (min-width:1200px){
    .conditions .card:nth-child(7n+7) {
        margin-right:0;
    }  
}
.selected-box {
    display:inline-block;
    margin-right:10px;
    width:140px!important;
    height:145px!important;
}
.selected
{
    background-color: #56bdf1 !important;
    color: #fff !important;
    border: 2px #56bdf1 solid !important;

}
.selected .brand-title {
    color: #fff !important;
}

.selected .brand-img img {
    filter: contrast(160%);
}

.brand-img-wrap {
    background-position:50% 50%;
    background-size:contain;
    background-repeat:no-repeat;
    height: 100%;
    width:100%;
} 
.login-title-heading {
    text-align: center;
    font-size: 38px;
    color: #01518e;
    font-weight: 100;
    font-family: inherit !important;

}
.key-name {
    font-weight: 600;
    color: #1581bf;
    font-size: 16px;
}
.next_sub_btn
{
    background: #56bdf1;
    color: white;
    padding:15px;
    border:1px solid #56bdf1 !important;
    width:100%;
    font-size: 18px;
}
.next_sub_btn:hover
{
    background: white;
    color: #56bdf1;
    padding:15px;
    border:1px solid #56bdf1 !important;

}
.control-label{
    color:#767676;font-size:20px;font-weight:600;
}
.add-note-btn,.btn-add-sub{
    background: #56bdf1 !important;
    color: white;
    border:1px solid #56bdf1 !important;
    border-radius: 0px;
}
.add-note-btn:hover,.btn-add-sub:hover{
    background: white !important;
    color: #56bdf1;
    border:1px solid #56bdf1 !important;
    border-radius: 0px;
}
.page-heading-left {
    padding-top:0;
}
.form-signin .form-group {
    margin-bottom:15px;
}    
.view_details_page{
    background-color: #56bdf1;
    padding: 10px 60px;
    color: #fff;
    border-color: #56bdf1;
    border-radius: 0px;
  
}
.view_details_page:hover {
 border: 1px #56bdf1 solid;
 color: #56bdf1 !important;
 background: white !important;
}
.selected
{
    background-color: #56bdf1 !important;
    color: #fff !important;

}
.selected .brand-title {
    color: #fff !important;
}
.selected .brand-img img {
    filter: contrast(160%);
}
.selectbox1{
    width: 618px !important;
    height: 60px;
    border-radius: 5px;
    border-color: #56bdf1 !important;
}
.moreinfo{
    padding: 4px 7px !important;
    border-radius: 0px !important;
}
.btn-default:hover {
color: #01518e !important;
background-color: #fff !important;
border-color: #01518e !important;
}
select#soflow, select#soflow-color {
    border:solid #ccc 1px!important;
    background-color:#fff!important;
    color:#767676!important;
}
select#soflow.option-selected, select#soflow-color.option-selected {
    border:2px solid #999!important;
}
@media (min-width:768px) {
    .productIdTrue.Financial {
        margin-top:23px;
    }
}
.pendingPhoto{
    width: 100%;
    background-color: #56bdf1;
    color: #FFF;
    border: none;
    font-size: 21px;
    border-radius: 5px;
}
.AcceptButton22, .Upload.btn {
    font-size: 18px!important;
    color: #fff!important;
    background-color: #f0ad4e!important;
    border-color: #eea236!important;
    border:solid 1px #eea236!important;
    border-radius:6px!important;
}
.AcceptButton22:hover, .Upload.btn:hover {
    font-size: 18px!important;
    color: #fff!important;
    background-color: #ec971f!important;
    border-color: #d58512!important;
    border:solid 1px #d58512!important;
    border-radius:6px!important;        
}
.cancel.btn, .canceled.btn {
    font-size: 18px!important;
    color: #fff!important;
    background-color: #d9534f!important;
    border-color: #d43f3a!important;
    border:solid 1px #d43f3a!important;
    border-radius:6px!important;
    margin-top:5px!important;
}
.cancel.btn:hover, .canceled.btn:hover {
    font-size: 18px!important;
    color: #fff!important;
    background-color: #c9302c!important;
    border-color: #ac2925!important;
    border:solid 1px #ac2925!important;
    border-radius:6px!important;
    margin-top:5px!important;
}
.action-bar {
    margin-right:10px;
}
	#hp-table>tbody>tr>td:first-child{
	border:none;
	color:grey; 
	font-weight:600;
	font-size:16px;
}
#hp-table>tbody>tr>td:last-child{
	border:2px solid grey;
	text-align:center;
	color:#1581bf; font-weight:600;
	font-size:16px;
	width: 170px;
}
.lower-txt{ 
    color:#333; 
    font-size:12px;
}
#second-table {
    color:#333;
}
#second-table>table>thead>tr>th{
    background:#56bdf1;
    color:#fff;
    border:1px solid #ddd;
    text-align:center !important;
}
#second-table>table>tbody>tr>td{
    border:1px solid #ddd;
    
}
#second-table>table>tbody>tr>td>a{
    text-decoration:underline;
    
}
.border-empty{
    border:none !important;
    background-color: #fff !important;
}
#first-table>table>thead>tr>th{
    background:#56bdf1; color:#fff;  
    border:2px solid #000;
}
#first-table>table>tbody>tr>td{
    border:1px solid #ddd;
    
}
#first-table {
    color:#333;
}
.highlight{background-color: #f0e5d7 !important;}
.really-sml{font-size:10px; }
.fairly-sml{font-size:13px; }
#second-table>table>tbody>tr:hover td { background: #f0e5d7 !important;	}
.label-default {
    font-weight:normal;
    color: #333;
    background-color: #efefef;
}
.specs-list {
    list-style:none;
    margin:0;
    padding:0;
    font-size:14px;
}
.specs-list-defect {
    padding-left:13px;
    display:block;
    position:relative;
}
.specs-list-defect:before {
    font-family:fontawesome;
    content:"\f111";
    font-size:4px;
    position:absolute;
    top:8px;
    left:1px;
}
.specs-list label, .specs-list strong {
    font-weight:600;
    margin:0;
}
.btn-action {
    padding:10px 0 !important;
    width:37px;
    text-align:center;
    margin-bottom:5px;
}
#statuschange {
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    /*-webkit-appearance: none;*/
    border-radius: 3px;
}

.form-signin .form-control {
    height:45px!important;
}
#note_pop.form-control {
    height:125px!important;	    
}
.btn-cta .badge {
    background-color: #fff;
    color:#d58512!important;
}
.add-note-btn.btn-lg {
    border-radius:6px;
}
select#soflow-color {
    background-image:none!important;
}
.btn.btn-lg {
	padding: 10px 16px!important;
    font-size: 18px!important;
    line-height: 1.3333333!important;
    border-radius: 6px!important;
}
.img-details-panel {
    margin-left:auto;
    margin-right:auto;
}
.table-quotelist thead tr th, .table-notes thead tr th{
    background: #56bdf1;
    color: #fff;
}

.table-quotelist, .table-notes {
    background:#fff;
}
div.dataTables_length label {
    font-weight: normal;
    float: left;
    text-align: left;
}
div.dataTables_length select {
    margin-right: 10px;
    width: auto;
}