    .form-control:focus{
        border: 1px solid #66afe9 !important;
    }
    .bg-warning{
        background-color:#00B1E1 !important;
        border:1px solid #00B1E1 !important;
    }
    input.no-border-right:focus, textarea.no-border-right:focus{
        border: 1px solid #66afe9 !important;
    }

    .pass-graybar {
        height: 3px;
        background-color: red;
        width: 100%;
        position: relative;
    }

    .pass-colorbar {
        height: 3px;
        background-image: url(passwordstrength.jpg);
        position: absolute;
        background-color: green;
        top: 0;
        left: 0;
    }

    .pass-percent, .pass-text {
        font-size: 1em;
    }

    .pass-percent {
        margin-right: 5px;
    }


    AndaleMono, monospace{
        color: #fff;
        padding: 50px;
        width: 300px;
        margin: 0 auto;
        background-color: #374954;
    }

    .dropdown {
        position: absolute;
        top:50%;
        transform: translateY(-50%);
    }

    a {
        color: #fff;
    }

    .dropdown dd,
    .dropdown dt {
        margin: 0px;
        padding: 0px;
    }

    .dropdown ul {
        margin: -1px 0 0 0;
    }

    .dropdown dd {
        position: relative;
    }

    .dropdown a,
    .dropdown a:visited {
        color: #636E7B;
        text-decoration: none;
        outline: none;
        font-size: 12px;
        height: 35px;
        border: 1px solid #DDD !important;
    }

    .dropdown dt a {
        background-color: #fff;
        display: block;
        padding: 5px 20px 0px 10px;
        min-height: 25px;
        line-height: 18px;
        overflow: hidden;
        border: 0;
    }

    .dropdown dt a span,
    .multiSel span {
        cursor: pointer;
        display: inline-block;
        padding: 0 3px 2px 0;
    }

    .dropdown dd ul {
        background-color: #00B1E1;
        border: 0;
        color: #fff;
        display: none;
        left: 0px;
        padding: 2px 15px 2px 5px;
        position: absolute;
        top: 2px;
        width: 100%;
        list-style: none;
        height: 200px;
        overflow: auto;
        z-index: 9999;
    }

    .dropdown span.value {
        display: none;
    }

    .dropdown dd ul li a {
        padding: 5px;
        display: block;
    }

    .dropdown dd ul li a:hover {
        background-color: #fff;
    }

    /*==============Client Heirarchy CSS==================*/
    .k-dialog .k-dialog-buttongroup.k-dialog-button-layout-stretched .k-button:last-child{
        background:#00B1E1 !important;
        color:white;
        border:none;

    }
    .k-button, .k-calendar .k-footer, .k-calendar .k-header .k-link {
        text-transform: none;
    }
    #treeview {
        width: 100%;
    }
    .k-dialog .k-dialog-buttongroup.k-dialog-button-layout-stretched .k-button:first-child{
        background: #E9573F;
        border-color:#E9573F;
        color: white;
    }
    .k-checkbox:indeterminate+.k-checkbox-label:before {
        border-color: #63D3E9;
    }
    .k-checkbox:indeterminate+.k-checkbox-label:after {
        background-color: #63D3E9;
        background-image: none;
        border-color: #63D3E9;
        border-radius: 0;
    }
    .k-checkbox:checked+.k-checkbox-label:before{
        background-color: #63D3E9 !important;
        border-color: #63D3E9 !important; 
    }
    html .k-dialog .k-window-titlebar {
        padding-left: 17px;
    }

    .k-dialog .k-content {
        padding: 17px;
    }

    #filterText {
        width: 100%;
        box-sizing: border-box;
        padding: 6px;
        border-radius: 3px;
        border: 1px solid #d9d9d9;
    }

    .selectAll {
        margin: 17px 0;
    }

    #result {
        color: #9ca3a6;
        float: right;
    }

    #treeview {
        height: 300px;
        overflow-y: auto;
        border: 1px solid #d9d9d9;
    }

    #openWindow {
        min-width: 180px;
    }

    /*==============Client Heirarchy CSS==================*/
    /*==========================Loader==================*/
    #loadingDiv{
        position:fixed;
        top:0px;
        right:0px;
        width:100%;
        height:100%;
        background-color:#666;
        background-repeat:no-repeat;
        background-position:center;
        z-index:10000000;
        opacity: 0.4;
        filter: alpha(opacity=40); /* For IE8 and earlier */
    }

    .loader {
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #00B1E1;
        border-right: 16px solid #fff;
        border-bottom: 16px solid #00B1E1;
        width: 66px;
        height: 66px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
        margin-left: auto;
        margin-right: auto;
        margin-top:250px;
    }



    @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
    /*==========================Loader==================*/