@import url("/css/style.css");
/*
hp green #00b388 
hp purple #614767
*/
/* Theme Brand Color and Image Overrides */ 
body {
    background-color:#efefef!important;
}
.header {
    background: #252525 !important;
}
.footer {
    background-color: #252525 !important;
}
.value-quote .fa {
    color: #00b388!important; /* hpe green - overrides dashboard.css */
}
.value-quote .value-text h4 {
    color: #00b388!important; /* hpe green - overrides dashboard.css */
}
/* cta buttons in purple */
.btn-cta {
    color: #fff!important;
    background-color: #614767!important;
    border: solid 1px #614767!important;
    border-color: #614767!important;
}
.btn-cta:hover, .btn-cta:focus {
    color: #fff!important;
    background-color: #4c3352!important;
    border-color: #4c3352!important;
}
.btn-cta.continue {
    background-color: #614767!important;
    border: 1px #614767 solid !important;
    color: #fff !important; 
    font-size: 18px !important;
    border-radius: 6px !important;
}
.btn-cta.continue:hover {
    color: #fff!important;
    background-color: #4c3352!important;
    border-color: #4c3352!important;
}
.btn-cta.next, .btn-cta.add-note-btn, .btn-cta.btn-add-sub {
    background: #614767!important;
    color: #fff !important;
    border: 1px #614767 solid !important;
}
.btn-cta.next:hover, .btn-cta.add-note-btn:hover, .btn-cta.btn-add-sub:hover {
    color: #fff!important;
    background-color: #4c3352!important;
    border-color: #4c3352!important;
}
.new-quate-btn .fa {
    border-left:solid #e05a00 1px;
}
.cont-theme {
    background:#efefef!important; 
}
.dashboard, .mainDiv {
    background-image:url(/images/schilthorn.jpg)!important;
}

.dashboard {
    background-color:#efefef!important;
    background-size: cover!important;
}
#navbar-topnav .navbar-nav > li > a:hover, #navbar-topnav .navbar-nav > li > a:focus {
    /*background-color:#412c46!important;*/
    background-color:#3d3d3d!important;
    
}
.page-title {
    background: #00b388!important; /* Blue from hp logo */
}
section .progressbar li.active1 {
    color: #00b388;
}
section .progressbar li.active1:before {
    border-color: #00b388;
}
.device-section h2.title {
    color: #614767;
    font-size: 24px;
}
.table-quotelist thead tr th, .table-notes thead tr th {
    background: #00b388;
    color: #fff;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #614767;
    border-color: #614767;
}
#first-table>table>tbody>tr>td.theme,#second-table>table>thead>tr>th {
    background: #00b388;
}
.modal-success .modal-header {
    background-color: #00b388 !important;
    border-bottom: 1px solid #00b388;
}
.productIdTrue.Financial > table > thead > tr {
    background-color:#00b388!important;
}
.card {
    border: solid 2px #00b388;
}
.row-center .card:hover {
    background: #00b388;
}
.row-center .card.activeClass .Processors {
    color: #00b388!important;
}
.row-center .card.activeClass::before {
    background: #00b388;
}
.row-center .selected {
    background-color: #00b388 !important;
    color: #fff !important;
    border: 2px #00b388 solid !important;
}