/*===============Custome css by raj=====================*/
.table thead .sorting:after,.table thead .sorting_asc:after {
    margin-left:5px;
    content: "";
    font-family: 'FontAwesome';
}
#mt0{
	margin-top:0px;
 }
 form .form-group.has-feedback button.form-control-feedback {
 
 	width: 24px;
    height: 24px;
 }
 .text-right {
    text-align:left;
 }
.table tfoot tr th{
 	padding-left: 7px;
 }
 .table-success thead tr th {
    background-color: #00B1E1 !important;
    border-color:#63D3E9 !important;
    color: #fff;
    border-color: 63D3E9
}
.table-success tfoot tr th {
    background-color: #00B1E1 !important;
    border-color:#63D3E9  !important;
    color: #fff;
}
.btn-color{
	background-color: #00B1E1 !important;	
	color:#fff;
	font-weight: 400;
    border-color:#00B1E1;
}
.btn-hover:hover{
	background-color:#009dc8 !important;	
}
.btn-danger{
	font-weight: 400;
}
.table tbody tr td > a i{
	color: #fff;
}
#ml2{
	margin-left: 2px;
}
#header .navbar-header{
    background-color: #00B1E1 !important;
}
body.page-sidebar-minimize #header .navbar-minimize > a , body.page-sidebar-minimize #header .navbar-minimize > a:hover {
    background-color:#00B1E1;
    color: #ffffff;
}
#sidebar-left.sidebar-circle .sidebar-menu > li.active > a > .icon i {
	 background-color:#00B1E1;
}
#sidebar-left.sidebar-box .sidebar-content img, #sidebar-left.sidebar-rounded .sidebar-content img, #sidebar-left.sidebar-circle .sidebar-content img {
    border: 2px solid #00B1E1;
}

#sidebar-left .sidebar-menu ul li.active:after {
    background-color:#00B1E1;
}
.media > .pull-left.has-notif i.online {
 background-color:#00B1E1;
  
}
.btn.focus, .btn:focus, .btn:hover {
    color: #fff;
    text-decoration: none;
}
#ml5{
	margin-left: 5px;
}

.pagination > .active > a, .pagination > .active > span {
    background-color: #00B1E1;
    border:1px solid #337ab7;

}
.pagination > .active > a, {
    background-color: #00B1E1;
    border:1px solid #337ab7;
}
.pagination > .active > span:hover {
	background-color:#009dc8 !important;	
}
.pagination > li > a {
     color: #636E7B; 
}

.header-right .navbar,#sidebar-left,#sidebar-left:after {
    background: #00B1E1 !important;

}
.navbar-toolbar .navbar-right .navbar-profile > a .meta .text,.fa-bars{
    color:white;
}
.nicescroll-rails div{
     background: #00B1E1 !important;
}
.sidebar-menu > li.active {
     background-color: #00c5fb !important;
}
/*.sidebar-menu > li > ul > li > a:hover {
        background-color: #00c5fb !important;s
}*/
.sidebar-primary > .sidebar-content {
    border-bottom: 2px solid #00c5fb;
}

.sidebar-primary > .sidebar-menu > li > ul > li a {
    color: #FFFFFF;
}

.sidebar-menu > li > ul > li {
    line-height: 15px;
    border-bottom: 1px solid #0089ae;
}
.sidebar-primary > .sidebar-menu > li > ul > li {
    background-color: #0089ae;
}

.sidebar-menu ul {
    background-color: #0089ae;
    color: #FFFFFF;

    
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #2fd3ff !important;
    border-color: #337ab7;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
     background-color: #2fd3ff !important;
}
.sidebar-content .media-heading {
    color: #fff;
}
.sidebar-menu > li > a > span {
    color: #fff;
}

#sidebar-left .sidebar-menu ul li.active:after {
    background-color: #2fd3ff;
}
.sidebar-menu > li > ul > li.active.submenu > a {
    background-color: #00B1E1 !important;
}


.sidebar-menu ul li a {
    
    color: #fff;
}
.sidebar-box .sidebar-menu > li > ul > li:after, .sidebar-rounded .sidebar-menu > li > ul > li:after, .sidebar-circle .sidebar-menu > li > ul > li:after {
    z-index: 1;
    width: 8px;
    height: 8px;
    left: 26px;
    top: 13px;
    bottom: auto;
    border-color: transparent;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out;
    -webkit-transition-delay: 0s;
    transition: all 0.5s ease-in-out 0s;
    -moz-box-shadow: 0 0 0 2px #00B1E1 !important;
    -webkit-box-shadow: 0 0 0 2px #00B1E1 !important;
    box-shadow: 0 0 0 2px #00c5fb !important;

}
#sidebar-left .sidebar-menu ul li:hover::after {
   background-color: #00B1E1 !important;
}
#sidebar-left .sidebar-menu ul li:hover a::before {
   color: #00B1E1;
}
.sidebar-menu > li > ul > li.active {
    background-color:#0089ae;
}
body.page-sidebar-minimize #sidebar-left .sidebar-menu > li:hover.submenu > ul, body.page-sidebar-minimize-auto #sidebar-left .sidebar-menu > li:hover.submenu > ul {
    display: block !important;
     background-color: #0089ae; 
}
.sidebar-menu > li > ul > li > a:hover {
        background-color:#00B1E1 !important;
        color: white;
}

body.page-sidebar-minimize #sidebar-left .sidebar-menu > li:hover, body.page-sidebar-minimize-auto #sidebar-left .sidebar-menu > li:hover {
    min-width: 220px;
    background-color:#0089ae;
}

.sidebar-box .sidebar-menu > li > a > .icon i, .sidebar-rounded .sidebar-menu > li > a > .icon i, .sidebar-circle .sidebar-menu > li > a > .icon i {
    border: 2px solid #00bdf0;
    background-color: #00b9eb;
}
.sidebar-menu > li.active > a span,.sidebar-menu > li.hover > a span  {
     color: #FFFFFF !important;
}
.sidebar-menu > li > a:hover .text, .sidebar-menu > li > a:hover .icon > i,.sidebar-menu > li.active > a > .icon i{
    color: #FFFFFF !important;
}
.sidebar-menu > li > a > .icon i {
    color: #FFFFFF !important;
}
.header-left .navbar-header .navbar-brand{
    background: rgba(135, 206, 235, 0.24);
}
.sidebar-menu > li:hover {
    background-color: #009dc8 !important;
}

.sidebar-menu >li.active:hover {
    background-color:#00c5fb !important;
}

body.page-sidebar-minimize .navbar-minimize a, body.page-sidebar-minimize-auto .navbar-minimize a {
    background-color: #81b71a;
    border-bottom: 1px #009dc8;
}
body.page-sidebar-minimize .navbar-minimize a:hover, body.page-sidebar-minimize-auto .navbar-minimize a:hover {

    border-bottom: 1px solid #009dc8;
}
body.page-sidebar-minimize .navbar-minimize, body.page-sidebar-minimize-auto .navbar-minimize {
    border-right: 1px solid #009dc8 !important;
}
.navbar-toolbar .navbar-left .navbar-minimize {
    border-right: 1px solid #009dc8;
}
.sidebar-content {
    border-bottom: 2px solid #00c5fb;
}
.sidebar-box .sidebar-menu > li > ul:after, .sidebar-rounded .sidebar-menu > li > ul:after, .sidebar-circle .sidebar-menu > li > ul:after {
    border-left: 2px solid #00c5fb;
}

.sidebar-box .sidebar-menu > li > a > .icon:after,.sidebar-rounded .sidebar-menu > li > a > .icon:after, .sidebar-circle .sidebar-menu > li > a > .icon:after {
     border: 1px solid #00c5fb; 
}
/*.sidebar-menu ul li a:before {
     color: #00c5fb; 
}*/

/*.sidebar-menu > li > ul > li:after {
    background-color: #00c5fb !important;
}*/
.sidebar-menu ul li.active a:before {
     color: #00c5fb; 
}
.sidebar-menu ul li.active a {
    color: #ffffff;
    font-weight: bold;
}
.sidebar-menu > li > ul > li.active.submenu > a {
     background-color: #178aa9 !important;
}
.media > .pull-left.has-notif i {
    border: 2px solid #08d4f5;
}
.sidebar-menu > li > ul > li > a > .arrow {
    float: right;
    margin-right: 21px;
    vertical-align: middle;
    font-weight: 400;
    /* width: 30px; */
    text-align: right;
    font-size: 13px;
}
.sidebar-menu > li > ul > li > a > .arrow {
    float: right;
    margin-right: 21px;
    vertical-align: middle;
    font-weight: 400;
     width: 20px; 
    text-align: right;
    font-size: 13px;
}
/*================footer css========================*/
.footer-content{
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color:white;
   color: white;
   text-align: center;

   }
.chosen-container .chosen-results li.highlighted {
     background-color: #00B1E1 !important;
     background-image: none !important;
   }
 .sidebar-menu > li > ul > li > ul > li > a {
  padding: 8px 0px 8px 30px;
  background: #178aa9 !important;
}

.sidebar-menu > li.submenu.active > ul > li.submenu.active > ul > li.active a {
    color: #FFFFFF;
}
.sidebar-menu > li.submenu.active > ul > li.submenu.active > ul > li a {
    color: #d0d0d0;
}
#sidebar-left .sidebar-menu ul li.active > ul > li.active a:before {
    color: #00B1E1;
}


.sidebar-menu > li.submenu.active > ul > li.submenu.active > ul > li a:before {
  color: black;
}
/*=============== End Custome css by raj=====================*/
 /*  html{
  position:relative; 
  min-height: 100%;
}*/
/*Normalize html and body elements,this style is just good to have*/
/*html,body{
  margin:0;
  padding:0;
}
.pageContentWrapper{
  margin-bottom:100px;/* Height of footer*/
/*} 
.footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height:100px;
    background:#ccc;
}*/